<form [formGroup]="form">
  <div class="flex w-full flex-col sm:flex-row gap-1">
    <div class="w-full sm:w-[100px]">
      <select [formControlName]="exchangeFormBuilder.keys.currencyFrom"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option [value]="defaultCurrencyCode">{{defaultCurrencyCode}}</option>
        <option *ngFor="let currency of _currencyList" [value]="currency.code">{{currency.code}}</option>
      </select>
    </div>
    <div class="w-full flex flex-col sm:flex-row flex-grow-1 gap-5 items-center">
      <div class="w-full">
        <input [formControlName]="exchangeFormBuilder.keys.currencyFromValue"
               type="number"
               id="currencyFromValue"
               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
               placeholder="0.00"/>
      </div>
      <button (click)="reverseCurrencies()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
             stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99"/>
        </svg>
      </button>
      <div class="w-full">
        <input [formControlName]="exchangeFormBuilder.keys.currencyToValue"
               type="number"
               id="currencyToValue"
               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
               placeholder="0.00"/>
      </div>
    </div>
    <div class="w-full sm:w-[100px]">
      <select [formControlName]="exchangeFormBuilder.keys.currencyTo"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option [value]="defaultCurrencyCode">{{defaultCurrencyCode}}</option>
        <option *ngFor="let currency of _currencyList" [value]="currency.code">{{currency.code}}</option>
      </select>
    </div>
  </div>
</form>
